* {
    font-family: sans-serif;
}

h1 {
    font-size: 150; 
    line-height: 1.2; 
    color: #13c0d7;
    text-align: center;
}

.header-text {
    font-size: 50px;
    line-height: 1.2; 
}

input {
    font-weight: bold;
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #13c0d7;
    border-radius: 5px;
}
  
input:hover {
    background-color: #13c0d7;
}
  
input:focus {
    outline: none;
    border-color: #6d9bf1;
    box-shadow: 0 0 5px #6d9bf1;
}

#uploadFile {
    font-weight: bold;
    margin-top: 10px;
    height: 50px;
    transform: scale(1.2);
}

.row {
    display: flex;
    justify-content: center; 
    margin-bottom: 10;
}
  
.col {
    margin: 0 auto;
}
  
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}  

th {
    text-align: center;
    padding: 10px;
    font-size: 1.1em;
}

.content-table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #13c0d7;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}  

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
} 

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #13c0d7;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #13c0d7;
}