* {
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f4f7f6;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 2.0em;
    line-height: 1.2;
    color: #13c0d7;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
}


select,
input[type="text"]{
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 2px auto;
    padding: 6px;
    font-weight: bold;
    border: 2px solid #13c0d7;
    font-size: 0.9em;
    background-color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

select:hover,
input[type="text"]:hover{
    background-color: #13c0d7;
    color: #ffffff;
    border-color: #0fa9c3;
}

input[type="file"] {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    padding: 12px;
    font-weight: bold;
    border: 2px solid #13c0d7;
    font-size: 1.1em;
    background-color: #ffffff;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

input[type="button"]{
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    padding: 12px;
    font-weight: bold;
    border: 2px solid #ffffff;
    font-size: 1.1em;
    background-color: #13c0d7;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

input[type="file"]:hover {
    background-color: #13c0d7;
    color: #ffffff;
    border-color: #0fa9c3;
}
input[type="button"]:hover{
    background-color: #13c0d74b;
    color: #13c0d7;
    border-color: #13c0d74b;
}

label {
    display: block;
    text-align: center;
    margin: 5px auto;
    font-weight: bold;
    color: #555;
    font-size: 1.1em;
}

.table-container {
    max-width: 100%;
    margin: 10px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow-x: auto; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
    table-layout: fixed;
}

th,
td {
    padding: 15px;
    text-align: center;
    width: 100px;
    min-width: 100px;
    font-weight: bold;

}

th {
    background-color: #13c0d7;
    color: #ffffff;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

tbody tr:hover {
    background-color: #e0f7fa;
}

td {
    border-bottom: 1px solid #dddddd;
    font-size: 1em;
    color: #333;
}

.content-table thead tr {
    background-color: #13c0d7;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}
